<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<p><b>Collaborations</b></p>
				<ul class="list-unstyled">
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
				</ul>
			</div>

			<div class="col-sm-6">
				<p><b>Contact</b></p>
				<p>Email: hakan.erturk@bogazici.edu.tr</p>
				<p>Phone: +90 212 359 7356</p>
				<p>Bogazici University - South Campus
				<br>Department of Mechanical Engineering
				<br>Office: M 4325
				<br>Bebek 34342 Istanbul, Turkey </p>
			</div>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
